<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>ascii camera</title>
	<meta charset="utf-8" />
 	<link rel="stylesheet" href="{% static "css/main.css" %}"/>
	<meta name="mobile-web-app-capable" content="yes">
</head>
<body>
	<h1 id="info">Please allow this page to access your camera.</h1>

	<div id="notSupported">
		<h1>Your browser does not support the Camera API.</h1>
		<!-- <img src="images/screenshot.png" align="center" /> -->
	</div>

	<pre id="ascii"></pre>
	<button id="button">start</button>
	<!-- <video id="videoContainer"></video> -->
	<canvas id="canvas"></canvas>
	<!-- <canvas id="canvasManual"></canvas> -->
	<!-- <video id="recorded_video" width="480" height="360" controls autoplay loop></video> -->

	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/circular_queue.js" %}"></script>
	<script src="{% static "js/whammy.js" %}"></script>
	<script src="{% static "js/camera.js" %}"></script>
	<script src="{% static "js/ascii.js" %}"></script>
	<script src="{% static "js/app.js" %}"></script>
	
	<script type="text/javascript">
		
	</script>
</body>
</html>
